/*Fonte importada do Google*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap'); 


*{    /*Config. das margens gerais*/
    margin: 0;
}

#header-config{   /*config. da faixa de fundo principal do cabeçalho*/
    background-color: rgb(20, 20, 20);
    height: 60px;  
}

#nav-config{  /*config. da barra de navegação (central e "flutuante")*/
    height: 60px;
    max-width: 700px;
    margin: auto;
    background-color: rgb(40, 40, 40);
    position: relative;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

#just-color{ /*Configurações da ponta colorida da barra de navegação*/
    height: 60px;
    width: 5px;
    background-color: #3374FF;
}

#name{ /*Configiração do meu nome na barra de navegação*/
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
    font-size: 2em;
    height: 60px;
    min-width: 360px;
    color: white;
}

#name > h1{  /*Configiração do meu nome na barra de navegação*/
    position: relative;
    top: 15%;
    width: 300px;
    margin: auto;
}

#navegation-desktop{  /*Configuração garal dos botões na barra de navegação*/
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-1:hover{  /*animação de acender o botão ao passar o mouse por cima*/
    background-color: rgba(80, 80, 80, 0.425);
}

#btn-2:hover{  /*animação de acender o botão ao passar o mouse por cima*/
    background-color: rgba(80, 80, 80, 0.425);
}

#btn-3:hover{  /*animação de acender o botão ao passar o mouse por cima*/
    background-color: rgba(80, 80, 80, 0.425);
}

.btn-config{  /*Configuração geral dos botões na barra de navegação por Classe*/
    color: white;
    padding: 21px 10px 22px 10px;
    text-decoration: none;
    position: relative;
    top: 35%;
}


@media (max-width: 717px){
    #navegation-desktop{
        display: none;
    }

    #navegation-mobile{ /*Box principal do menu mobile*/
        height: 60px;
        width: 60px;
    }

    #mobile{ /*box secundária do menu mobile*/
        width: 30px;
        margin: auto;
        cursor: pointer;
    }

    .span { /*simula as barrinhas brancas do menu mobile*/
        width: 30px;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 1.5px;
    }

    #mobile:hover .span{ /*barrinhas acendem quando passar o mouse por cima do elemento #mobile*/
        box-shadow: 0px 0px 5px white;
    }

    .content{ /*centraliza a box seucundária dentro da box principal*/
        position: relative;
        top: 50%;
        transform:translateY(-50%)
    }

}



#cover-picture{  /*Imagem de capa do site*/
    background-image: url(imagens/imagem-cover-02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}


#content{ /*Configurações da box principal do conteúdo*/
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 800px;
}

#boxes-content{
    position: relative;
    top: -4%;
    max-height: 700px;


}

#boxes{ /*box para conter as boxes coloridas alinhadas*/
    max-width: 700px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.349);
}


.box-config{ /*Configurações gerais das boxes coloridas*/
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 717px){ /*coloca margem abaixo dos boxes para dispositivos mobile*/
    .box-config{
        margin-bottom: 20px;
    }
}

.box-config > h1{ /*Configurações dos títulos das Boxes Coloridas*/
    font-size: 1.6em;
    margin-top: 15px;
}

.box-config > p{ /*Configurações dos parágrafos das Boxes Coloridas*/
    font-size: 1em;
    margin-top: 15px;
}

#box-1{ /*Configurações de cores das Boxes*/
    background-color: #3374FF;
}

#box-2{
    background-color: #FFC500;
}

#box-3{
    background-color: #FF2400;
}
