/*Fonte importada do Google*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');



*{    /*Config. das margens gerais*/
    margin: 0;
}





/*_____________________//_______________________*/

body{ /*configurações do Body*/
    background-color: rgb(20, 20, 20);;
}

/*_____________________//_______________________*/






/*_____________________//_______________________*/
#main-content{
    max-width: 1100px;
    margin: auto;
}
/*_____________________//_______________________*/






/*_____________________//_______________________*/

#about-me{
    max-width: 1100px;
    font-family: Arial, Helvetica, sans-serif; 
    flex-wrap: wrap-reverse;  /*quebra a linha entre os elementos (boxes)*/
    align-items: center;    /*Alinha uma box e seu conteúdo ao centro da outra box ao lado*/
    display: flex;
    justify-content: space-between;  /*justifica o espaçamento das boxes*/
}

@media(max-width: 1015px){

    #about-me{
        padding: 2.1em;
        justify-content: center;
    }
}

#meu-texto{   /*configurações do campo de texto*/
    width: 550px;
    color: white;
    text-align: center;
}

#meu-texto > h1{
    font-size: 3.5em;
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
}

#meu-texto > h2{
    font-size: 1.8em;
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
    color: #FFC500;
}

#meu-texto > p{
    font-size: 1em;
    line-height: 1.2em;
}

.margin-bottom{
    margin-bottom: 15px;
}

/*_____________________//_______________________*/






/*_____________________//_______________________*/


#profile-pic > img{  /*configurações da imagem de perfil*/
    max-width: 450px;
    
}

/*_____________________//_______________________*/






/*_____________________//_______________________*/


#back-buttom{
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: auto;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 6px;
    
}

#botao-voltar{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    width: 60px;
    margin: auto;
}

#botao-voltar > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
}

#back-buttom:hover{
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px white;
}

/*_____________________//_______________________*/






/*_____________________//_______________________*/

#curriculo{
    line-height: 1.8em;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#curriculo > ul { 
    list-style: circle;
    color: white;
}

#curriculo > ul > li > a{ 
    text-decoration: none;
    color: white;
}

#curriculo > ul > li > a:hover{ 
    text-shadow: 0px 0px 8px white;
}

/*_____________________//_______________________*/






/*_____________________//_______________________*/

#rodape{
    height: 300px;
}

/*_____________________//_______________________*/